# DATABASE SETTINGS

PGHOST='your-postgres-hostname'
PGDATABASE='your-database-name'
PGUSER='your-database-username'
PGPASSWORD='your-database-password'

# JWT SETTINGS

JWT_SECRET='secret'  # change this!!!
JWT_EXPIRES_IN='30s'
JWT_REFRESH_SECRET='refreshsecret'  # change this!!!
JWT_REFRESH_EXPIRES_IN='1d'
JWT_RESET_SECRET='resetsecret'  # change this!!!
JWT_RESET_EXPIRES_IN='15m'

# SERVER SETTINGS

PORT=3000
NODE_ENV='production'
FRONTEND_URL='http://localhost:5173'
BACKEND_URL='http://localhost:3000'

# EMAIL SETTINGS

MAIL_USER='user@mail.com'
MAIL_PASSWORD='some real password'

# STRIPE SETTINGS

STRIPE_PUBLISHABLE_KEY='some-key-here'
STRIPE_SECRET_KEY='some-other-key-here'